<h2>Create your own habit:</h2>
<form id="create-habit" class="button-size" action="/create-habit" method="POST">
    <label for="type">Type of habit:</label>
    <textarea required type="text" id="type" name="type"></textarea>
    <label for="activity">Activity:</label>
    <textarea required type="text" id="activity" name="activity"></textarea>
    <label for="description">Description of habit:</label>
    <textarea required type="text" id="description" name="description"></textarea>
    <label for="frequency">Frequency of habit:</label>
    <textarea required type="text" id="frequency" name="frequency"></textarea>
    <button type="submit">Save your new habit!</button>
</form>