<html>

  <body>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
  </body>
</html>       
       
       
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>