<div class="container focus">
    <div class="row justify-content-center">
        <div class="col-md-12 heading">
            <h2>Check-in!</h2>
            <h4>It takes 3 months to form a habit. <br> Log your tiny step to track your progress.</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 habitDetails">

            <h5>Habit: {{habit.activity}}</h5>
            <p>Description: {{habit.description}}</p>
            <p>Suggested frequency: {{habit.frequency}}</p>

        </div>
        <div class="col-md-5">
            <h4>Check-in, <br> how did you do?</h4>
            <button type="submit" id="checkin-button" class="blueButton">Tiny step complete!</button>
        </div>
    </div>

</div>