<h1>Check-in</h1>

<h3>It takes 3 months to form a habit. Log your tiny step to track your progress</h3>


<div class="col-md-6">
    <div class="feature-item">
        <div class="icon">
            <img src="assets/images/feature-01.png" alt="">
        </div>

        //the habit that the user has selected
      
        <li>
            <h4>Name: {{habit.name}}</h4>
            <p>Habit description: {{habit.description}}</p>
            <p>Suggested frequency: {{habit.frequency}}</p>
        </li>
        
        </ul>
    </div>
</div>

<div class="col-md-6">
    <h2>Check-in, how did you do?</h2>
    //*add form with action and method just like create-habit
    <button type="submit" id="checkin-button">Tiny step complete!</button>
 
</div>